<footer>

<div class="container">

<div class="footer-content">

<div class="footer-box">

<h3>

مهرجان هويات الدولي

</h3>

<p>

ثقافة الصورة هوية وانتماء

</p>

</div>

<div class="footer-box">

<h3>

روابط سريعة

</h3>

<p>

<a href="/">

الرئيسية

</a>

</p>

<p>

<a href="/register">

التسجيل

</a>

</p>

</div>

<div class="footer-box">

<h3>

التواصل

</h3>

<p>

📍 طنجة - المغرب

</p>

<p>

📧 identitiesfestival@gmail.com

</p>

<p>

📞 +212 675401829

</p>

</div>

</div>

<div class="footer-bottom">

جميع الحقوق محفوظة © مهرجان هويات الدولي

</div>

</div>

</footer>