<footer>

<div class="container">

<div class="footer-content">

<div class="footer-box">

<h3>

International and Forum Identities Festival

</h3>

<p>

Image culture is identity and belonging

</p>

</div>

<div class="footer-box">

<h3>

Quick links

</h3>

<p>

<a href="/">

Home

</a>

</p>

<p>

<a href="/register">

Registration

</a>

</p>

</div>

<div class="footer-box">

<h3>

communication

</h3>

<p>

📍 Tanger - Maroc

</p>

<p>

📧 identitiesfestival@gmail.com

</p>

<p>

📞 +212 675401829

</p>

</div>

</div>

<div class="footer-bottom">

<!-- ضع حقوق النشر هنا -->

All Rights Reserved © Identities International Festival

</div>

</div>

</footer>