<nav class="navbar">

<div class="container nav-container">

<a
href="/"
class="logo-text">

Houiyat

</a>

<ul class="nav-links">

<li>

<a href="/en">

Home

</a>

</li>

<li>

<a href="/en#information">

Information

</a>

</li>

<li>

<a href="/en#festival2024">

Festival 2024

</a>

</li>

<li>

<a href="/en#festival2026">

Festival 2026

</a>

</li>

<li>

<a href="/register/en">

Registration

</a>

</li>

<li class="language-dropdown">

    <button class="language-btn">

        🌐 Language ▼

    </button>

    <ul class="language-menu">

        <li><a href="/">العربية</a></li>

        <li><a href="/en">English</a></li>

        <li><a href="/fr">Français</a></li>

    </ul>

</li>

</ul>

</div>

</nav>