<nav class="navbar">

<div class="container nav-container">

<a
href="/"
class="logo-text">

هويات

</a>

<ul class="nav-links">

<li>

<a href="/">

الرئيسية

</a>

</li>

<li>

<a href="/#information">

المعلومات

</a>

</li>

<li>

<a href="/#festival2024">

مهرجان 2024

</a>

</li>

<li>

<a href="/#festival2026">

مهرجان 2026

</a>

</li>

<li>

<a href="/register">

التسجيل

</a>

</li>

<li class="language-dropdown">

    <button class="language-btn">

        🌐 Language ▼

    </button>

    <ul class="language-menu">

        <li><a href="/">العربية</a></li>

        <li><a href="/en">English</a></li>

        <li><a href="/fr">Français</a></li>

    </ul>

</li>

</ul>

</div>

</nav>